#leaderboard
{
	float:right;
	width: 127px;
	text-align: center;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	padding: 0 5px 10px 5px;
	border-radius: 10px;
	background: #003D46;
	color: rgb(149, 253, 249);
	box-shadow: 0 0 20px #FFF inset, 0 0 10px rgba(0, 0, 0, 0.62);
	
	
}


#nav_leaderboard
{
	display: table;
	position: relative;
	border-bottom: 2px solid #ddd;
	padding: 0;
	list-style: none;
}

#nav_leaderboard a
{
	padding: 0 10px 12px 0;
	display: block;
	margin: 0 0 -2px 0;
	background: none;
	border: none;
	border-bottom: 2px solid transparent;
	color: #999;
	text-decoration: none;
	}

#nav_leaderboard > li  a.active, #nav_leaderboard>li:hover a
	{
	color: #1caff6;
	border-bottom: 2px solid #1caff6;
}

#nav_leaderboard > li:first-child
{
	margin: 0;
}

#nav_leaderboard > li
{
	float: none;
	margin: 0 0 0 25px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}

#top_player #odd
{
	background: red;
}

#leaderboard > div
{
	margin: 11px 5px 5px 5px;
}

.top_player{
	color: black;
	border-radius: 25px;
	height: 22px;
	line-height: 22px;
	padding-top: 2px;
	box-shadow: 0 0 12px #000 inset, 0 0 20px rgba(0, 0, 0, 0.62);
}

#scoreBoard
{
	background: white;
	border-radius: 10px;
	width: 186px;
	padding: 0 5px 5px 5px;
	position: relative;
	float: left;
}


.p1 .cardfront
{
	box-shadow: 0 0 2px 2px #lll inset, 0 0 2px 2px green;
	-webkit-box-shadow: 0 0 2px 2px #lll inset, 0 0 2px 2px green;
}

.p2 .cardfront
{
	box-shadow: 0 0 2px 2px #lll inset, 0 0 2px 2px red;
	-webkit-box-shadow: 0 0 2px 2px #lll inset, 0 0 2px 2px red;
}

#playerNameD div h2
{
    font-size: 1em;
}
 #playerOneTurn,   #playerTwoTurn{
	display: inline-block;
	width: 200px;
	position: relative;
	height: 200px;
	border-radius: 100%;
	margin-top: -45%;
	display: none;
}

 #playerOneTurn > div ,   #playerTwoTurn > div{
	vertical-align: middle;
	margin-top: 88px;
	color: #fff;
}

#net_scoreBoard
{		
	width: 127px;
	text-align: center;
	line-height: 12px;
	font-size: 12px;
	text-align: center;
	padding: 0 5px 10px 5px;
	border-radius: 10px;
	background: #003D46;
	color: rgb(149, 253, 249);
	box-shadow: 0 0 20px #FFF inset, 0 0 10px rgba(0, 0, 0, 0.62);
	
	
}



#playerTurnIcon
{

	margin: 40px auto;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	line-height: 100px;
}

#net_turnArea
{
	color: #CFCFCF;
	font-size: large;
	position: relative;
	float: left;
	width: 135px;
	overflow: visible;
}

#playerOneTurn
{
	float:left;
}

#playerTwoTurn
{
	float:right;
}

#scoreBoard #area
{
	padding: 6px 0 0 0;
}

#area div
{
	margin: 2px;
}

#scoreBoard h2
{
	font-size: 90%;
}

#playerOneScore
{
	background: green;
}

 #playerTwoScore
{
	background: red;
}


#playerOneScore, #playerTwoScore, #winner
{
	border-radius: 25px;
	height: 22px;
	line-height: 22px;
	box-shadow: 0 0 12px #000 inset, 0 0 20px rgba(0, 0, 0, 0.62);
}

#changeGameMode{
	float: right;
	display: block;
}

li a{
	font-size: 80%;
}


.rollable-link {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;

    -webkit-perspective: 600px;
       -moz-perspective: 600px;
       -ms-perspective: 600px;
       perspective: 600px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
       -ms-perspective-origin: 50% 50%;
       perspective-origin: 50% 50%;       
}

.rollable-link {
    text-decoration:none;
    width: 100%;
    height:100%;
}

.rollable-link span {
    display: block;
    position: relative;
    
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
       -ms-transition: all 400ms ease;
       transition: all 400ms ease;
    
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
       -ms-transform-origin: 50% 0%;
       transform-origin: 50% 0%;
    
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
       -ms-transform-style: preserve-3d;
       transform-style: preserve-3d;
}
.rollable-link:hover span {
        background: rgba(56, 185, 235, 0.67);
        height: 100%;
        -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
           transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}

.rollable-link span:after {
    content: attr(data-title);
	 display: block;
    position: relative;
    border-radius: 5px;
    left: 0;
    top: 0;
    padding: 0 2px;

    color: #fff;
    background: rgba(56, 185, 235, 0.67);
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
       -ms-transform-origin: 50% 0%;
       transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}
.gameModeDialog div div a{
	color: #fff;
	}
	
	
.gameModeDialog div div{
	padding-top: 5px;
	vertical-align: middle;
	border-radius: 5px;
	}

.gameModeDialog h2
{
    font-size: 1em;
}

.gameModeDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.gameModeDialog:target {
	opacity:1;
	pointer-events: auto;
}

.gameModeDialog > input
{
	width: 200px;
}
 
.gameModeDialog > div {
	width: 250px;
	text-align: center;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #246CB9);
	background: -webkit-linear-gradient(#fff, #246CB9, #fff);
	background: -o-linear-gradient(#fff, #246CB9);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
