# extends 'base.html'

<!-- manifest={{ url_for('static', filename='offline.manifest') }} type="text/cache-manifest" -->
# block header

		<title>Memory Game</title>
        <script src="/p/js/two_player_net.js"></script>
        <script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<script src="/p/js/net_play.js"></script>
		
		<script src="/p/js/jquery.js"></script>
		<script src="/p/js/nav.js"></script>
		<link rel="stylesheet" type"text/css" href="/p/css/loader.css"/>
		<link rel="stylesheet" type"text/css" href="/p/css/style.css"/>
        <link rel="stylesheet" type"text/css" href="/p/css/memory.css"/>
		<link rel="stylesheet" type"text/css" href="/p/css/indicator.css"/>
# endblock

# block content
		<ul id="navigation">
	
            <li id="save"><a id="saveGame" title="Save Game">Save Game</a></li>
            <li id="save"><a id="newGame" title="New Game">New Game</a></li>
						            
        </ul>

<div class="clear"></div>
<div id = "content">
	
<div id="leaderboard">
	<h4>Leaderboard</h4>
	<ul id="nav_leaderboard">
		<li><a id="allTimeLink" class="active">All Time</a></li>
		<li><a id="weeklyLink">This Week</a></li>
	</ul>
	<div class="clear"></div>
	<div id="alltime">
			<div id="number1" class="top_player" class="odd"></div>
			<div id="number2" class="top_player" ></div>
			<div id="number3" class="top_player" class="odd"></div>
			<div id="number4" class="top_player"></div>
			<div id="number5" class="top_player" class="odd"></div>
		</div>
		<div class="clear"></div>
		<div id="weekly" style="display: none;">
			<div id="w_number1" class="top_player" class="odd"></div>
			<div id="w_number2" class="top_player" ></div>
			<div id="w_number3" class="top_player" class="odd"></div>
			<div id="w_number4" class="top_player"></div>
			<div id="w_number5" class="top_player" class="odd"></div>
		</div>
	</div>
</div>

<div id="net_turnArea">
	
<div id="net_scoreBoard">
	<div id="area">
		<div><h2>Score</h2></div>
		<div id="playername" style="display: none;">{{ values.yourname }}</div>
		<div id="token" style="display: none;">{{ values.token }}</div>
		<div id="gameid" style="display: none;">{{values.gameid}}</div>
		<div id="playerType" style="display: none;">1</div>
		<div id="playerOneScore"></div>
		<div id="playerTwoScore"></div>
	</div>
</div>



<div id="playerTurnIcon"><div>Flip Card</div></div>

</div>


<div id="playerNameD" class="gameModeDialog">
	<div>
		<!--<a href="#" title="Close" class="close" id="closePlayerNameD">X</a> -->
		<h2>{{ values.yourname }}</h2>
		<div>
			<p>Waiting on other Player</p>
			<div>
				<div class="windows8">
					<div class="wBall" id="wBall_1">
						<div class="wInnerBall">
						</div>
					</div>
					<div class="wBall" id="wBall_2">
						<div class="wInnerBall">
						</div>
					</div>
					<div class="wBall" id="wBall_3">
						<div class="wInnerBall">
						</div>
					</div>
					<div class="wBall" id="wBall_4">
						<div class="wInnerBall">
						</div>
					</div>
					<div class="wBall" id="wBall_5">
						<div class="wInnerBall">
						</div>
					</div>
				</div>
			
			</div>
			<br>
			<p>Share this URL with them:</p>
			<input id="gameurl" type="text" value={{ values.url }} />
			
		</div>
	</div>
</div>

<div class="flipper">

    <div id="flip-front"><h1>Memory Card Game</h1></div>
    <div id="flip-back"></div>

    

</div>

<br>
<br>
<div id="game"></div>
<div class="clear"></div>

<div class="clear"></div>
<div class="clear"></div>
</div>

# endblock
